<h1>Welcome to the allergy scorer!</h1>
<form action="/results">
  <div class="form-group">
    <label for="allergy_score">Enter your allergy score:</label>
    <input id="allergy_score" name="allergy_score" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Find my allergies!</button>
</form>
